html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: black;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "coder";
  src: local("coder"), url(font.woff) format("woff");
}

@font-face {
    font-family: "hairline";
    src: url(aktivgrotesk-hairline-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "light";
    src: url(aktivgrotesk-light-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "thin";
    src: url(aktivgrotesk-thin-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "regular";
    src: url(aktivgrotesk-regular-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "seriff";
    src: url(seriff-regular-webfont.woff) format("woff");
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Nunito+Sans:wght@200&family=Rubik:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  background-color: "#4C4C4C";
}
/*
div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
} */

.web3modal-provider-name {
    background-color: transparent;
}

.web3modal-provider-description {
    background-color: transparent;
}

.link {
    display: inline-block;
    transition: 0.2s;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

.link:hover {
    opacity: 0.7;
    /* text-decoration: underline; */
}
